@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2D4356;
}

#root {
    display: flex;
}

main {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Apple Chancery', monospace;
    font-size: 20px;
}

aside {
    max-width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #212A3E;
    opacity: 0;
    transition: all 500ms linear;
    position: sticky;
    top: 0;
    bottom: 0;
    font-weight: bold;
}

aside .avatar {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

aside .img-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid yellow;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

nav ul {
    list-style: none;
    width: 100%;
}

ul li {
    width: 100%;
    height: 80px;
    padding-left: 80px;
}
li a {
    color: #ddd;
    transition: all 100ms linear;
}
li a:hover {
    color: orange;
}

.title h1 {
    color: orange;
    font-size: 40px;
    font-family: 'Apple Chancery', monospace;
}

.title p {
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    line-height: 2em;
    color: lightcyan;
}

.wrapper {
    opacity: 0;
    transition: all 200ms linear;
}

.my-skills {
    padding-top: 80px;
}
.my-skills h2 {
    color: orange;
    font-size: 50px;
    font-family: 'Apple Chancery', monospace;
    text-align: center;
}

.icon-card {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 250px;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.card:hover {
    cursor: pointer;
}
.icon-wrapper {
    width: 100%;
    height: 100px;
}
.icon-wrapper img {
    width: 100%;
    height: 100%;
}
.card h3 {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}

.mask {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 200ms linear;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #EA5455;
    font-weight: bold;
}

.active {
    color: orange;
}

.title .text {
    font-size: 40px;
}

.hobby-list {
    line-height: 80px;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #EEE3CB;
}

.hobby-list li {
    opacity: 0;
    transition: all 300ms linear;
}
